// Place all the styles related to the directions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.result-area{
  display: flex;
}
#gmap{
  height: 400px;
  width: 45%;
}